
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<header>
    <h2>Nhóm Đóm Chúa</h2>
</header>

<section>
    <nav>
        <ul>
            <li><a href="~/trang-chu">Bản thân</a></li>
            <li><a href="~/gioi-thieu-nhom">Nhóm</a></li>
        </ul>
    </nav>

    <article>
        <table>
            <thead>
            <th>STT</th>
            <th>Mã số sinh viên</th>
            <th>Họ và tên</th>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>1822041279</td>
                    <td>Nguyễn Quốc Luân</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>1822041379</td>
                    <td>Nguyễn Hoàng Đăng Khoa</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>1822041389</td>
                    <td>Vũ Hải Luân</td>
                </tr>
            </tbody>
        </table>
    </article>
</section>

<footer>
    <p>Copyright &copy; Nguyen Quoc Luan - @DateTime.Now.Year</p>
</footer>

