@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<header>
    <h2>Nhóm Đóm Chúa</h2>
</header>

<section>
    <nav>
        <ul>
            <li><a href="~/trang-chu">Bản thân</a></li>
            <li><a href="~/gioi-thieu-nhom">Nhóm</a></li>
        </ul>
    </nav>

    <article>
        <h1>Nguyen Quoc Luan</h1>
        <p>------</p>
        <img src="~/image/Anh.png" style="width:100px;" />
    </article>
</section>

<footer>
    <p>Copyright &copy; Nguyen Quoc Luan - @DateTime.Now.Year</p>
</footer>